---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: deploy
spec:
  replicas: 2
  selector:
    matchLabels:
       app: swiggy
  template:
    metadata:
      labels:
        app: swiggy
    spec: 
      containers:
        - name: cont1
          image: reddy0314/mytetrisgame:v0
          ports:
            - containerPort: 3000  
          resources:
            requests:
               cpu: "250m"
               memory: "256Mi"
            limits:
               cpu: "500m"
               memory: "512Mi"
